<div class="card border-0">

  <div class="card-header border-0">
    Nouveau contact
  </div>

  <div class="card-body">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
      <div class="mx-auto mb-4 d-flex flex-column">
        <!-- Image upload section -->
        <div class="col-3 mx-auto mb-4 d-flex flex-column">
          <img class="rounded-circle img-fluid" [src]="imgSrc" />
        </div>

        <label class="custom-file">
          <input type="file" id="file" class="custom-file-input" accept="image/*"  (change)="onFileUpload($event)">
          <input type="hidden" name="fileHidden" formControlName="profilePicture">
          <span class="custom-file-control"></span>
        </label>
        <!-- /Image upload section -->
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <input type="text" class="form-control" formControlName="lastName" placeholder="Nom">
        </div>
        <div class="form-group col-md-6">
          <input type="text" class="form-control" formControlName="firstName" placeholder="Prénom">
        </div>
      </div>

      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">(+33)</span>
          <input type="tel" class="form-control" formControlName="mobile" placeholder="Numéro de téléphone">
        </div>
      </div>

      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">@</span>
          <input type="email" formControlName="email" placeholder="Email" class="form-control" [ngClass]="{'is-invalid': (form.get('email').dirty && form.get('email').invalid)}">
          <!-- Form Validation -->
          <div *ngIf="form.get('email').dirty && form.get('email').invalid" class="invalid-feedback">
            <small *ngIf="form.get('email').errors.email">Adresse e-mail invalide</small>
          </div>
          <!-- /Form Validation -->
        </div>
      </div>

      <div class="form-group">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Ajouter des tags (appuyer sur entrée)" (keyup.enter)="addTag($event.target.value)"
            [(ngModel)]="tagEntry" [ngModelOptions]="{standalone: true}" />
        </div>
      </div>

      <label>Liste de tags: ({{form.get('tags').length}} ajoutés)</label>
      <div formArrayName="tags" class="container">
        <div class="row">
          <div class="mr-2" *ngFor="let tag of form.get('tags').controls; let i=index" [formGroupName]="i">
            <span class="badge badge-light">{{tag.value }} <img class="ml-1" src="/assets/images/pin-tag.svg"></span>
          </div>
        </div>
      </div>

      <button type="submit" [disabled]="!form.valid" class="btn btn-primary ml-auto pull-right">Enregistrer</button>
    </form>
  </div>
</div>
