<ul class="contact-list py-2 px-0 m-0">
  <!-- Foreach contact -->
  <li *ngFor="let contact of contacts" [routerLink]="[contact.$key]" routerLinkActive="active-link" class="d-flex p-1 contact-list-item">

    <!-- Profile image -->
    <div class="col-3 px-0">
      <img [src]="contact.profilePicture" alt="" class="rounded-circle mx-auto d-block img-fluid">
    </div>
    <!-- /Profile image -->
    <div class="col mx-auto">
      <span class="lead">{{contact.firstName | capitalize}} {{contact.lastName | uppercase}}</span>
      <br>
      <span class="fa fa-phone fa-fw text-muted"></span>
      <span class="text-muted small">{{contact.mobile}}</span>
      <br>
      <span class="fa fa-envelope fa-fw text-muted"></span>
      <span class="text-muted small text-truncate">{{contact.email}}</span>

      <!-- List of tags -->
      <ul class="list-inline">
        <li *ngFor="let tag of contact.tags" class="list-inline-item"><span class="badge badge-light">{{tag}}</span>
        </li>
      </ul>
      <!-- /List of tags -->
    </div>
  </li>
  <!-- /Foreach contact -->

</ul>
