.contact-list {
  font-size: 0.7em;

  .lead {
    font-size: 1rem;
  }

  .contact-list-item {
    cursor: pointer;
    &:hover {
      background-color: rgba(0,0,0,0.1);
    }
    &.active-link {
      background-color: rgba(2,100,128,0.1);
    }
  }

}

