$image: "/assets/images/AdobeStock_96045597.jpg";

.noise
{
  height: 100%;
  &::before {
    content: "";
    background-image: url("/assets/images/noise.png");
    background-repeat: repeat; 
    opacity : 0.04;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
  }
}
.tinted {
  height: 100%;
  &::before {
    content: "";
    background : rgba(255, 255, 255, 1);
    opacity : 0.8;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px
  }
}
.exclusion
{
  height: 100%;
  &::before {
    content: "";
    background: rgba(255, 255, 255, 1);
    opacity : 0.1;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px
  }
}
.blur {
  &::before {
    content: "";
    background: url($image) no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
    filter: blur(6px);
    position: absolute;
    height: 100%;
    width:100%;
    top: 0px;
    left: 0px;
  }
  overflow: hidden;
  height: 100%;
}

.inner-card {
  position: relative;
  min-height: 100%;
  height: 100%;
  overflow-y: auto;
  // padding: 1rem 0;
}