<div class="blur w-100">
  <div class="exclusion">
    <div class="tinted">
      <div class="noise">
        <div class="inner-card">
          <!-- Contenu acrylic card -->
          <ng-content></ng-content>
        </div>
      </div>
    </div>
  </div>
</div>
