<div class="container h-100 d-flex">
  <div class="col-sm-10 mx-auto my-auto">
    <div class="card-contact d-flex">

      <app-acrylic-card class="col-2 col-sm-4 p-0">
        <a [routerLink]="['new']" class="btn btn-block bg-primary text-light btn-header"><span class="fa fa-user-plus"></span> </a>

        <app-contact-list [contacts]="contacts$ | async"></app-contact-list>
      </app-acrylic-card>

      <!-- Sub router outlet to show contact details or new contact component -->
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
