<!-- Edit Section -->
<div class="card w-100 border-0" *ngIf="editMode; else elseBlock">
  <div class="card-header bg-warning border-0">
    Edition contact
  </div>
  <div class="card-body">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
      <div class="mx-auto mb-4 d-flex flex-column">
        <div class="col-3 mx-auto mb-4 d-flex flex-column">
          <img class="rounded-circle img-fluid" [src]="imgSrc" />
        </div>
        <label class="custom-file">
            <input type="file" id="file" class="custom-file-input" accept="image/*"  (change)="onFileUpload($event)">
            <input type="hidden" name="fileHidden" formControlName="profilePicture">
            <span class="custom-file-control"></span>
          </label>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <input type="text" class="form-control" formControlName="lastName" id="inputLastName">
        </div>
        <div class="form-group col-md-6">
          <input type="text" class="form-control" formControlName="firstName" id="inputFirstName">
        </div>
      </div>

      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">(+33)</span>
          <input type="tel" class="form-control" formControlName="mobile" aria-label="Téléphone" aria-describedby="basic-addon1">
        </div>
      </div>

      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">@</span>
          <input type="email" class="form-control" formControlName="email">
        </div>
      </div>

      <div class="form-group">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Ajouter des tags (appuyer sur entrée)" (keyup.enter)="addTag($event.target.value)"
            [(ngModel)]="tagEntry" [ngModelOptions]="{standalone: true}" />
        </div>
      </div>

      <label>Liste de tags: ({{form.get('tags').length}} ajoutés)</label>
      <div formArrayName="tags" class="container">
        <div class="row">
          <div class="mr-2" *ngFor="let tag of form.get('tags').controls; let i=index" [formGroupName]="i">
            <span class="badge badge-light">{{tag.value }} <img class="ml-1" src="/assets/images/pin-tag.svg"></span>
          </div>
        </div>
      </div>

      <button type="reset" (click)="revert()" class="btn btn-light">Annuler</button>
      <button type="submit" [disabled]="!form.valid" class="btn btn-warning">Enregistrer</button>
    </form>
  </div>
</div>
<!-- /Edit Section -->

<!-- Details Section -->
<ng-template #elseBlock>
  <div class="card w-100 border-0">
    <div *ngIf="!!contact" class="card-body">
      <div class="mx-auto mb-4 d-flex flex-column">
        <div class="col-3 mx-auto mb-4 d-flex flex-column">
          <img class="rounded-circle img-fluid" [src]="contact.profilePicture" />
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <label class="text-muted text-info">Nom: </label>
          <p class="">{{contact.lastName | uppercase}}</p>
        </div>
        <div class="col-md-6">
          <label class="text-muted text-info">Prénom: </label>
          <p>{{contact.firstName | capitalize}}</p>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <label class="text-muted text-info">N° Mobile: </label>
          <span>(+33) {{contact.mobile}}</span>
        </div>
      </div>

      <div class="row mb-1">
        <div class="col">
          <label class="text-muted text-info">Email: </label>
          <span>{{contact.email}}</span>
        </div>
      </div>

      <label class="text-muted text-info">Liste de tags: </label>
      <div class="container mb-3">
        <div class="row">
          <div class="mr-2" *ngFor="let tag of contact.tags">
            <span class="badge badge-light">{{tag }} <img class="ml-1" src="/assets/images/pin-tag.svg"></span>
          </div>
        </div>
      </div>

      <button type="button" (click)="removeContact()" class="btn btn-danger pull-right">Supprimer</button>
      <button type="button" (click)="goToEditMode()" class="btn btn-light pull-right">Editer</button>
    </div>
  </div>
</ng-template>
<!-- /Details Section -->
