/* All global styles, and also import other style files */

// Custom bootstrap v4-beta
@import "assets/sass/custom_variables";
@import "../node_modules/bootstrap/scss/bootstrap";

// Image background
$image-bg: "/assets/images/AdobeStock_96045597.jpg";

html, body {
  height: 100%;
  font-size: 14px;
}

body {
  background: url($image-bg) no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
}

.btn-header {
  padding: 0.80em 0;
  font-size: 14px;
}

.card-body {
  overflow-y: auto;
}

// Responsive fonts
@include media-breakpoint-up(sm) {
  html, body, .btn-header {
    font-size: 16px;
  }
}

@include media-breakpoint-up(md) {
  html, body, .btn-header {
    font-size: 16px;
  }
}

@include media-breakpoint-up(lg) {
  html, body, .btn-header {
    font-size: 18px;
  }
}
@include media-breakpoint-up(xl) {
  html, body, .btn-header {
    font-size: 21px;
  }
}
