<div class="container h-100 d-flex">
  <div class="col-12 col-sm-8 col-lg-6 mx-auto my-auto py-3">
    <app-acrylic-card>
      <h4 class="card-title">Exercice de recrutement Leikir Studio.</h4>

      <p class="card-text">Consigne donnée: <br> Faire une petite appli AngularJS de gestion d'une base de contacts :
      </p>
      <ul>
        <li>listing et affichage des contacts</li>
        <li>pouvoir créer / éditer / supprimer un contact</li>
        <li>pouvoir ajouter une photo à un contact</li>
        <li>pouvoir ajouter des tags à un contact</li>
      </ul>

      <button (click)="goToApp()" class="btn btn-primary btn-block">Par ici la mini app</button>
    </app-acrylic-card>
  </div>
</div>
